<h2>Add Confession</h2>
<form action="/addConfession" method="POST">
    <label for="content">Confession:</label>
    <textarea name="content" required></textarea>
    <button type="submit">Add Confession</button>
</form>
<footer>
        <a href="/home">Back to Home</a>
</footer>