<div class="hero_area3">
    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="images/hero-bg.png" alt="">
      </div>
    </div>
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/home">
            <span>
              ConfessIT
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" id="home" href="/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="confessions" href="/confessions">Confessions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="addConfession" href="/addConfession">Add Confession</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="diary" href="/diary">Diary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="addDay" href="/addDay">Add to Diary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fa fa-user" aria-hidden="true"></i> Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
</div> 

<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <div class="container ">
                <div class="detail-box">
                <div class="confession-form-container">
                    <h2>Add A Day in Your Life</h2>
                    <form action="/addDay" method="POST">
                        <label for="content">Diary Entry:</label>
                        <textarea name="content" required></textarea>
                        <button type="submit" class="btn btn1">Add Diary Entry</button>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div> 
</section>