<div class="hero_area2">
    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="images/hero-bg2.png" alt="">
      </div>
    </div>
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/home">
            <span>
              ConfessIT
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" id="home" href="/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="confessions" href="/confessions">Confessions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="addConfession" href="/addConfession">Add Confession</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="diary" href="/diary">Diary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="addDay" href="/addDay">Add to Diary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="feedback" href="/feedback">Feedback</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="logout" href="/logout"> <i class="fa fa-user" aria-hidden="true"></i>  Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
</div> 

<section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          A Word, A Thought, A <span>Whisper</span>
        </h2>
      </div>
      <div class="why_container">
        <div class="box">
          <div class="img-box">
            <img src="images/chooseus2.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              WHY CHOOSE US?
            </h5>
            <p>
              Have you ever felt the need to unburden your soul without fear of judgment or exposure? Welcome to ConfessIt, the haven for your deepest secrets and unspoken thoughts. ConfessIt is an anonymous confessions web application that empowers users to share their innermost secrets, candid thoughts, and heartfelt confessions without the fear of revealing their true identity. Within the walls of ConfessIt, users can freely express themselves, explore the confessions of others, and engage with a community that cherishes anonymity at its core.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="images/diary.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              THERE'S MORE? <span>THERE'S MORE</span>
            </h5>
            <p>
              ConfessIt goes beyond just a confessions platform. It provides you with a private sanctuary, a digital diary where you can pour out your emotions and thoughts in complete anonymity. This unique 'Diary' section allows you to keep a personal record of your inner journey, unfiltered and free from prying eyes. ConfessIt is not just a confessions platform; it's your secret refuge and a judgment-free diary rolled into one.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="images/talk.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              YOU ARE AN ADULT NOW. WE NEED TO HAVE A TALK!
            </h5>
            <p>
              ConfessIt places a premium on anonymity, urging users to safeguard their own identity and that of others by refraining from any attempts to unveil identities. Emphasizing kindness in interactions, the community encourages constructive feedback while discouraging malicious intent. Furthermore, a commitment to confidentiality is paramount, with users urged to keep confessions within the platform, respecting the privacy and trust of each contributor. In essence, the platform strives to create a space where users can share authentically without fear, fostering a culture of empathy and understanding. 
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="images/images.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              MORE TALK BLAH BLAH!
            </h5>
            <p>
              Within the ConfessIt community, a fundamental principle is the commitment to a space free from harm, discrimination, or any illegal activities. Users are urged to contribute responsibly, refraining from content that may cause harm or discomfort to others. Embracing diversity is at the heart of the platform, encouraging users to celebrate differences and cultivate an inclusive environment by avoiding any offensive or disrespectful content targeting individuals or groups. Moreover, the essence of ConfessIt lies in the authenticity of shared thoughts and experiences. Users are encouraged to contribute genuine confessions, as fabricated stories compromise the sincerity and trust that form the foundation of our community. 
            </p>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          OKAY, ENOUGH TALK. LET'S GET STARTED!
        </a>
      </div>
    </div>
</section>