<header>
        <h1>ConfessIT</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/confessions">Confession</a></li>
            <li><a href="/addConfession">Add Confession</a></li>
            <li><a href="/diary">Diary</a></li>
            <li><a href="/addDay">Add Day</a></li>
        </ul>
    </nav>